/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* SAVE THE DATE */

@font-face {
  font-family: Avenir;
  src: url('fonts/Avenir.ttc');
}
@font-face {
  font-family: Cherolina;
  src: url('fonts/Cherolina.otf');
}

body{
  height: 100vh;
  background-image: url('img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Avenir light', sans-serif;
  position: relative;
}

.planta-top-right,
.planta-bottom-left{
  position: absolute;
  height: 20vw;
}
.planta-top-right img,
.planta-bottom-left img{
  height: 100%;
}
.planta-top-right{
  top: 0;
  right: 0;
}
.planta-bottom-left{
  bottom: 0;
  left: 0;
}

.content{
  max-width: 90%;
  margin:auto;
}

.std-container{
  text-align: center;
  color: #637589;
  letter-spacing: 4px;
  padding-top: 10%;
}

.std-container h2{
  font-size: 32px;
  margin-top: 40px;
  font-weight: 100;

}
.std-container h1{
  margin: auto;
}
.std-container .calligraphy{
  color: #C3AD72;
  font-family: 'Cherolina', cursive;
  font-size: 168px;
  font-weight: 100;
  line-height: 1;
}
.std-container h3{
  margin: auto;
  font-size: 24px;
  text-transform: uppercase;
}
.std-container h5{
  margin: auto;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 2em;
}

.std-container img{
  margin: auto;
  margin-top: 3em;
}

.monograma-login{
  position: absolute;
  bottom: 2em;
  left: 47%;
  width: 6%;
}

.std-container button{
  margin-top: 48px;
}

.login-container{
  text-align: center;
  color: #637589;
  padding-top: 10%;
  max-width: 360px;
  margin: auto;
}

.login-container h6{
  font-size: 24px;
  margin: 0;
}

.login-container p {
  font-size: 16px;
}

input.email-input{
  width: 100%;
  margin-top: 24px;
  font-size: 16px;
  color: #637589;
  padding: 12px;
  border-radius: 0;
  border: 1px solid #C3AD72;
  box-sizing: border-box;
}

input.email-input:active,
input.email-input:focus,
input.email-input:focus-within,
input.email-input:focus-visible,
input.email-input:visited{
  outline: 0;
}



.modal-overlay{
  /*display: none;*/
  height: 100%;
  width: 100%;
  background: rgba(79, 85, 91, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.modal-card{
  background: white;
  border: 1px solid #C4CFDB;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: fit-content;
  margin: auto;
  margin-top: 4em;
  padding: 2em;
  position: relative;
}

.modal-title{
  color: #C3AD72;
}

.modal-card #close{
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

.modal-error{
  text-align: center;
}

img#error {
    width: 55%;
    margin: auto;
    max-width: 256px;
}

.error-txt{
  margin: 2em 0;
}

@media all and (max-width: 1024px) {
  .std-container{
    padding-top: 15%;
  }
  .planta-top-right,
  .planta-bottom-left{
    height: 20vw;
  }
}

@media all and (max-width: 799px) {
  .std-container .calligraphy {
    font-size: 110px;
  }
  .login-container {
    padding-top: 25%;
  }
  .modal-overlay{
    position: absolute;
  }

  .modal-card{
    width: 90% !important;
    padding: 1.5em;
    margin-top: 2em;
  }
}
